server:
  port: 8085

spring:
  application:
    name: auth-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/scholara_auth}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

jwt:
  secret: bXVsdGlDbG91ZFNlY3JldEtleU1vcmVCYXNlNjQxMjM0NTY3OA==
  expiration-minutes: 60
  refresh-expiration-days: 7

google:
  client-id: 763222237672-p7a5r26ck93v8a4jkmd0eb8uf61lvkko.apps.googleusercontent.com

